@import url("import.css");
@import url("import2.css");


*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

img {
	max-width: 100%;
	height: auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}
.container {
    width: 1170px;
    display: block;
    margin: 0 auto;    
}
body {
    font-family: sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "RobotoRegular", sans-serif;
    overflow-x: hidden;
}

/*	.main__link {
		text-align: center;
		text-decoration: none;
		color: inherit;
		font-size: 20px;
		width: 200px;
		display: block;
		background: lightgray;
		color: #000;
		margin: 0;
		border: 1px solid black;
	}
	.main__link:link .main__link__img, 
	.main__link:visited .main__link__img {
		display: none;
	}
	.main__link:hover .main__link__img,
	.main__link:active  .main__link__img {
		display: block;
	}
*/
	.main__hide {
		border: 1px solid black;
		float: left;
		margin:5px;
		padding: 5px;
		overflow: hidden;
		box-sizing: border-box;
		background: lightgray;
		color: #000;
		width: 23%;
/*		height: 200px;*/
	}
	.main__hide__img {
	}
/*----------------Main---------------*/
.hidden {
    display: none;
}