.container {
    max-width: 700px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 100vh;
}
.circle {
    transition-property: width, height, margin-left, margin-top;
    position: fixed;
    transition-duration: 2s;
    transform: translateX(-50%) translateY(-50%);
    background-color: red;
    border-radius: 50%;
}
.message-ball {
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}