@import "~normalize.css";
@import "./fonts";

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

* {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Roboto-Bold', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}


